

body{
    margin: 0;
    padding: 10px;
    background-color: rgb(35, 107, 142);
    font-family:"Poppins","sans serif";
    color: rgb(67, 65, 65);
    padding: 40px;

}

.sub{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}


.page{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-top: 20px; */
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    

    
}

.p{
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* background-color: white; */
}

 .p i{
    padding: 15px;
}

.p:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(35, 107, 142);
    color: white;

}


.details{
    padding: 20px;
    width: 30%;
    /* height: px; */
    /* font-size: 20px; */
    
}


.details input{
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px;
    background-color: #f4f4f4;
}

.f{
    padding: 10px;
}

.m{
    display: flex;
    
    align-items: center;

    
}

.m div{
    position: sticky;
    left: 100%;
   
}

/* .m .mCom{
   
    top: 70%;
} */



.payment{
    width: 30%;
}
.total{
    width: 30%;
}

.pay button{
    width: 100%;
    /* background-color: rgb(35, 107, 142); */
    margin-left: 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-family:"Poppins","sans serif";
    color: rgb(84, 81, 81);
    font-size: 15px;
   
}

.pay button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(35, 107, 142);
    color: white;
}








@media(max-width : 700px){
  
    .page{
        flex-direction: column;
        height: 100%;
       
    }

    .payment{
        width: 60%;
    }

    .total{
        width: 60%;
        
    }

    .details{
        /* padding: 20px; */
        width: 70%;
        /* font-size: 20px; */
        
    }

    .m div{
        position: sticky;
        left: 70%;
        top: 70%;
    }



   
   
} 

@media(min-width :998px){
    .pay button{
        width: 90%;
        margin-left: 20px;
    }
    
}


